*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
a,
a:visited {
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-size: 14px;
}

body {
    background-color: ivory;
}

#canvas {
    /* border: 1px solid red; */
    background-image: url('../assets/half_court.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

ul {
    display: flex;
}

li {
    flex: 1;
    text-align: center;
}

nav {
    margin-bottom: 50px;
}

.container {
    display: flex;
}

.block {
    display: block;
    width: 100%;
    height: 20%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: white;
}

.output {
    width: 100%;
    margin-right: 10%;
}

.output .outputText {
    margin-top: 1%;
    padding: 10px;
    border: red 1px solid;
}

.heatmaps {
    width: 100%;
    margin-top: 1%;
}

.heatmap-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ball {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ball img {
    height: 200px;
    width: 166px;
}

.defense {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.defense img {
    height: 200px;
    width: 166px;
}

.inputs {
    padding-right: 5%;
}

.container .input-menus {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

.text-output {
    display: flex;
}

.text-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.feedback-text {
    font-weight: bold;
    font-size: 16;
}

#ballPlayer {
    color: darkgreen;
}

.feedback {
    margin-top: 0px;
}

label[for="offense"] {
    color: darkred;
}

label[for="guard"] {
    color: darkgreen;
}

label[for="defense"] {
    color: #0c9dcb;
}